body
{
    text-align: center;
    margin: 0 auto;
}
.container{
    position: absolute;
    /*width: 1500px;*/
    /*height: 1500px;*/
    /*margin: 50px 150px 0px -50px;*/
    top: 40%;
    left: 40%;
}
.box {
    position: absolute;
    border: 5px solid black;
    width: 300px;
    height: 400px;
    padding: 10px 10px 10px 10px;
}
.box1 {
    margin: 10px 10px 10px -300px;
}
.box2 {
    margin: 10px 10px 10px 50px;
}
.box3 {
    margin: 10px 10px 10px 400px;
}
.boxUp{
    margin-top: -250px;
}
.boxDown{
    margin-top: 450px;
}
.boxLabel{
    border: 2px solid black;
    background-color: #00a0ff;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}
.boxLabel2{
    padding: 15px 10px 15px 10px;
}
.calcTbl{
    position: absolute;
    width: 150px;
    height: 400px;
}
.calcTbl td,
.operTbl td{
    font-size: 20px;
}

.operTbl {
    position: absolute;
    margin-left: 150px;
    width: 150px;
    height: 400px;
}

.func {
    border: 1px black solid;
    width: 100px;
    height: 50px;
    margin: 15px 15px 15px 15px;
    font-size: 30px;
    text-align: center;
}

.exe {
    font-size: 50px;
}

#calcExe{
    margin-top: 100px;
    font-size: 30px;
}

#historyGround div{
    font-size: 25px;
    padding: 5px;
    text-align: left;
}