body
{
    text-align: center;
    margin: 0 auto;
}
.container{
    position: absolute;
    width: 300px;
    height: 150px;
    margin: -150px 0 0 -75px;
    top: 50%;
    left: 50%;
}
.box {
    position: absolute;
    border: 5px solid black;
    width: 400px;
    height: 500px;
    padding: 50px 50px 50px 50px;
}
.box1 {
    margin: 10px 10px 10px -500px;
}
.box2 {
    margin: 10px 10px 10px 50px;
}
.box3 {
    margin: 10px 10px 10px 600px;
}
.boxUp{
    margin-top: -250px;
}
.boxDown{
    margin-top: 650px;
}
.boxLabel{
    border: 2px solid black;
    background-color: #00a0ff;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}
.boxLabel2{
    padding: 45px 25px 45px 25px;
}
.calcTbl{
    position: absolute;
    width: 250px;
    height: 500px;
}
.calcTbl td,
.operTbl td{
    font-size: 25px;
}

.operTbl {
    position: absolute;
    margin-left: 280px;
    width: 150px;
    height: 500px;
}